html {
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial";
}

a {
    color: rgb(0, 102, 153);
}

#author-name {
    font-size: 30px;
}

.container {
    margin: auto;
    max-width: 600px;
}

.footer {
    border-top: 1px solid #e8e8e8;
}

.navbar {
    border-bottom: 1px solid #e8e8e8;
}
